*{
    margin: 0;
    padding: 0;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: normal;
    line-height:1.3em;
}

.App{
    background-color: var(--fondo-color);
}

html, body{
    height: 100%;
}

#root{
    height: 100%;
}

div .first_header3 {
	/* Box */
	width: 100%;
    background-color: transparent;

	/* Positioning */
	display: block;
}